@keyframes colorButton {
    0% {
        color: rgb(231, 92, 178);
        font-size: 1.4em;
    }
    50% {
color:rgb(113, 18, 113);
font-size:1.6em;
    }
    100% {
      
        color:rgb(54, 54, 204);
        font-size:1.8em;
    }
}

@keyframes colorButtonRespons {
    0% {
        color: rgb(231, 92, 178);
        font-size: 0.8em;
    }
    50% {
color:rgb(113, 18, 113);
font-size:1em;
    }
    100% {
      
        color:rgb(54, 54, 204);
        font-size:1.2em;
    }
}

@keyframes bgImage {
    from{
        background-size: 100%;
        border:2px solid white;
    }
    to{
        background-size: 120%;
        border:10px solid white;
    }
}

@keyframes birdFly {
    from {
        transform: translate(500px,-300px);
    }

to {
    transform: translate(200px,-100);
}
}

@keyframes birdFlyRespons {
    from {
        transform: translate(300px,-100px);
    }

to {
    transform: translate(100px,-50);
}
}

@keyframes messageVisible {
    0% {
        transform:rotateX(0deg);
    }
    100%{
        transform:rotateX(90deg);
    }
}