/*Created variables used on elements.*/
$font-stack:Arial, sans-serif;
$bg-color:#FF1493;
$bg-color-nav:#FFFFFF;
$bg-color-top:pink;
$primary-color:#000000;
$secondary-color:#E98EAB;
$dark-color:darken(pink, 5%);
$light-color:lighten(black, 30%);
$font-size-standard:1.3em;
$font-size-nav:1.6em;
$lineheight-standard:1.5;
$width-standard:1512px;
$mar-l:auto;
$mar-r:auto;

/*Elements have been given properties after some of the created variables.*/
body{
    font-family:$font-stack;
    background-color: $bg-color;
    color:$primary-color;
    max-width:$width-standard;
    margin:$mar-l; 
    margin:$mar-r;
}

h1{
    color:$secondary-color;
    text-align: center;
}

.welcome {
    line-height: $lineheight-standard; 
    margin-bottom: 30%;
}

/*Here an inheritance (@extend) is used on the element.*/
.sass {
    @extend.welcome; 
    text-align: center;
    margin-bottom: 8%;
}

#header {
    background-color: $bg-color-top;
    max-width:$width-standard;
    height:150px;
    margin:$mar-l;
    margin:$mar-r;
    box-shadow: 8px 8px 10px rgb(0,0,0,0.70);
}

/*A nesting is done here.*/
nav{
    ul {list-style: none; 
        display:flex;
    }

    li {box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
        margin-top:40px;
        padding: 10px; 
        margin-right: 20px;
    
        a {font-size: $font-size-nav; 
            color:$secondary-color;
            background-color: $bg-color-nav;
            text-decoration:none;
        }
    }  
} 

a:hover {
    background-color:$bg-color-top;
    cursor: pointer;
}

#menu-responsive {
    display:flex;
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    margin-right:20px;
}

.menu-hamburger{
    display: none;
    flex-direction: column;
    cursor:pointer;
}

.row{
    width:40px;
    height:4px;
    background-color: black;
    margin:6px;
}
   
footer {
    background-color:$dark-color; 
    color:$light-color;
    text-align: center;
    text-shadow: 2px 2px 4px white;
}
/*Media rule for the hamburger menu at the breakpoint of 1024px.*/
@media (max-width:1024px) {
        .menu-hamburger{display:flex;}
        nav ul {display: none;flex-direction: column;position:absolute; text-align: center;
        right:0;top:70px;margin-right: 2%;padding-top:5%;width:170px;height:400px;
        line-height: 1.4;}
        nav ul li a {color:$primary-color; font-size: 1em; background-color:$bg-color; font-weight: bold;}
        .links.active {display:flex;}
        }